<manifest xmlns:android="http://schemas.android.com/apk/res/android">
  <application>
    <!-- Inactive unless a parent provisions this phone as a dedicated Kids Islam device. -->
    <receiver
      android:name="expo.modules.kidslock.KidsLockAdminReceiver"
      android:exported="true"
      android:label="Kids Islam lock"
      android:permission="android.permission.BIND_DEVICE_ADMIN">
      <meta-data android:name="android.app.device_admin" android:resource="@xml/kids_lock_admin" />
      <intent-filter>
        <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
      </intent-filter>
    </receiver>
  </application>
</manifest>
